<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= @user.name %>'s micropost(s):</strong>
</p>
<tbody>
  <% @microposts.each do |micropost| %>
  <% if @user.name == micropost.user.name %>
  <tr>
    <td>Micropost's id: <%= micropost.id %></td>
    <td>Content: <%= micropost.content %></td>
    <td><%= link_to 'Show', micropost %></td>
    <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
    <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <p></p>
  </tr>
  <% end %>
  <% end %>
</tbody>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
